:root {
  color-scheme: light;

  --filled: #878a8c;
  --unfilled: #d3d6da;
  --dark-background: #121213;

  --absent: #787c7e;
  --correct: #6aaa64;
  --present: #c9b458;
}

:root.dark-theme {
  color-scheme: dark;

  --filled: #565758;
  --unfilled: #3a3a3c;

  --absent: #3a3a3c;
  --correct: #538d4e;
  --present: #b59f3b;
}

:root.high-contrast {
  --correct: #85c0f9;
  --present: #f5793a;
}

body {
  font-family: sans-serif;
}

svg {
  margin-left: 0.25em;
  margin-right: 0.5em;

  height: 1em;
}

.st3 {
  fill: #E24329;
}
.st4 {
  fill: #FCA326;
}

.st5 {
  fill: #FC6D26;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;

  height: 2em;
  width: 100%;

  border-bottom: 1px solid var(--dark-background);
}

.dark-theme header {
  border-bottom-color: var(--filled);
}

button, summary {
  position: absolute;

  height: 2em;
  width: 2em;
  padding: 0;
  border: 0;
}

#header-center {
  max-width: 100%;
  width: 24em;
  margin: 0 auto;
}

h1, h2 {
  margin: 0;

  font-size: 1.2rem;
  font-variant: small-caps;
  line-height: 2rem;
  text-align: center;
}

h1 {
  margin-right: clamp(0em, 8vw, 2em);
}

details {
  position: relative;
  top: -2em;
}

summary {
  list-style: none;
  text-align: center;
  line-height: 2em;
  user-select: none;
}

::-webkit-details-marker {
  display: none;
}

#stats {
  right: 2em;
}

#settings {
  right: 0;
}

section {
  position: fixed;
  left: 1em;
  right: 1em;
  top: 2em;
  margin: 0 auto;

  box-sizing: border-box;
  max-height: calc(100% - 3em);
  width: 36em;
  max-width: calc(100% - 2em);
  padding: 1em;
  border: 1px solid black;
  border-radius: 10px;

  background: white;
  box-shadow: 4px 4px 4px var(--dark-background);
  opacity: 0;
  overflow-y: auto;

  transition: top 0.25s, opacity 0.25s;
}

.dark-theme section {
  background: var(--dark-background);
}

details[open] > section {
  top: 2.5em;
  opacity: 1;
}

.exit {
  right: 1em;
  top: 1em;
}

#share {
  bottom: 1em;
  right: 1em;

  height: unset;
  width: unset;
  padding: 1em;
}

.hidden {
  display: none;
}

menu {
  list-style: none;
}

li {
  margin: 1em 0;
}

main {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 2rem;

  padding: 1%;

  overflow-y: auto;

  font-size: clamp(1em, 8vw, 2em);
}

form {
  position: relative;
  margin: 0.25em auto;

  display: grid;
  grid-template: 1fr / 2em 2em 2em 2em 2em 1em;
  gap: 0.2em;
  height: 3em;
  width: 12em;
  border: 0;
  padding: 0;
}

.digit {
  position: relative;
  height: 3em;
  width: 2em;
}

.guess, .result {
  position: absolute;
  top: 1em;

  width: 2em;
  height: 2em;

  text-align: center;
}

.guess {
  border: 0.1em solid var(--unfilled);
  line-height: 1.8em;

  box-sizing: border-box;
  transition: border-color 0.25s;
}

.resolved .guess, .digit:not(:first-child) .guess:not(:empty), input:not(:placeholder-shown) {
  border-color: var(--filled);
}

@keyframes hide-and-show-guess {
  0% {
    transform: scaleY(1);
  }

  25% {
    transform: scaleY(0);
  }

  75% {
    transform: translateY(-25%) scale(0.5);
  }

  100% {
    transform: translateY(-75%) scale(0.5);
  }
}

.resolved .guess {
  animation: hide-and-show-guess 1s linear forwards;
}

.digit:nth-child(2) > .guess {
  animation-delay: 0.25s;
}

.digit:nth-child(3) > .guess {
  animation-delay: 0.5s;
}

.digit:nth-child(4) > .guess {
  animation-delay: 0.75s;
}

.digit:nth-child(5) > .guess {
  animation-delay: 1s;
}

.presolved .guess {
  animation-duration: 0.5s;
}

.presolved > .digit:nth-child(2) > .guess {
  animation-delay: 0.1s;
}

.presolved > .digit:nth-child(3) > .guess {
  animation-delay: 0.2s;
}

.presolved > .digit:nth-child(4) > .guess {
  animation-delay: 0.3s;
}

.presolved > .digit:nth-child(5) > .guess {
  animation-delay: 0.4s;
}

.result {
  line-height: 2em;

  transform: scaleY(0);
  transition: transform 0.25s linear;
}

.resolved .result {
  color: white;

  transform: scaleY(1);
}

.digit:nth-child(1) > .result {
  transition-delay: 0.25s;
}

.digit:nth-child(2) > .result {
  transition-delay: 0.5s;
}

.digit:nth-child(3) > .result {
  transition-delay: 0.75s;
}

.digit:nth-child(4) > .result {
  transition-delay: 1s;
}

.digit:nth-child(5) > .result {
  transition-delay: 1.25s;
}

.presolved .result {
  transition-duration: 0.125s;
}

.presolved > .digit:nth-child(1) > .result {
  transition-delay: 0.125s;
}

.presolved > .digit:nth-child(2) > .result {
  transition-delay: 0.225s;
}

.presolved > .digit:nth-child(3) > .result {
  transition-delay: 0.325s;
}

.presolved > .digit:nth-child(4) > .result {
  transition-delay: 0.425s;
}

.presolved > .digit:nth-child(5) > .result {
  transition-delay: 0.525s;
}

.absent {
  background: var(--absent);
}

.present {
  background: var(--present);
}

.correct {
  background: var(--correct);
}

input {
  width: 1em;
  border-radius: 0;

  background: transparent;

  font-family: sans-serif;
  font-size: 1em;
}

input:focus {
  outline: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

.ellipsis {
  position: absolute;
  bottom: 0;
  right: 0;

  display: none;
  width: 1em;

  line-height: 2em;
}

.resolved > .ellipsis {
  display: unset;
}

.equals {
  right: 0;
  margin-top: 3em;

  background: var(--unfilled);

  color: unset;
  font-size: 0.5em;

  transition: transform 0.25s linear 1.25s;
}

.presolved > .equals {
  transition-duration: 0.125s;
  transition-delay: 0.525s;
}

.equals:active, .equals:focus, .equals:hover {
  background: var(--filled);
}

.equals:disabled {
  transform: scaleY(0);
}
